
<h1 class="redfont" style="color: red">Hello <xn:name uid="<%= params[:xn_sig_user]-%>"/></h1>

Test linking in XNML <a>a</a>

<h1>xiaonei.users.getInfo(:uids => "223065501")</h1>
<ul>
  <li>Name: <xn:name uid="<%= @user.uid %>"/> - <%= @user.name -%></li>
  <li>Gender: <%= @user.sex -%></li>
</ul>

<h1>You have <%= @friends.total -%> friends</h1>
<ul>
  <% for f in @friends -%>
    <li><%= f.name -%>:<%= image_tag(f.headurl) -%></li>
  <% end -%>
</ul>
